In [ ]:
Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
import pandas as pd

In [8]:
films_rait = pd.read_csv('ratings.csv')

In [10]:
def cls(df):
    if df.rating <= 2:
        return 'низкий рейтинг'
    elif df.rating <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [12]:
films_rait['class'] = films_rait.apply(cls, axis = 1)

In [14]:
films_rait.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

In [ ]:
Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному
региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона.
Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:



Результат классификации запишите в отдельный столбец region.

In [104]:
films_kvd = pd.read_csv('keywords.csv')

In [107]:
def region(df):   
    geo_data = {
        'Центр': ['москва', 'тула', 'ярославль'],
        'Северо-Запад': ['петербург', 'псков', 'мурманск'],
        'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
    
    for item, value in geo_data.items():
        for kv in df.keyword.split(' '):
            if kv in value:
                return item
    return 'undefined'

In [106]:
films_kvd['region'] = films_kvd.apply(region, axis = 1)

In [108]:
films_kvd.region.value_counts()

undefined         99406
Центр               384
Северо-Запад        146
Дальний Восток       64
Name: region, dtype: int64

In [ ]:
Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с
рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы 
                                                  https://grouplens.org/datasets/movielens). 
Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов 
содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [50]:
films_year = pd.read_csv('movies.csv')

In [62]:
list(range(1, 2))

[1]

In [56]:
years_list = list(range(1950, 2011))

In [109]:
def extract_year(df):
    for item in range(len(df)):

        for year in range(1950, 2011):
            
            if str(year) in df.title:
                return year
        return 1900

In [110]:
films_year['year'] = films_year.apply(extract_year, axis = 1)

In [111]:
films_year.year.value_counts()

1900    1610
1996     275
2000     274
1998     272
2002     271
        ...
1956      32
1958      31
1950      27
1952      27
1951      23
Name: year, Length: 62, dtype: int64

In [116]:
films_year = films_year.merge(films_rait,on='movieId')

In [122]:
films_year.groupby('year').mean()[['rating']].sort_values('rating', ascending=False)

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]