In [ ]:
Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено
    больше всего оценок 5.0.

In [1]:
import pandas as pd

In [4]:
data_ = pd.read_csv('ratings.csv')

In [7]:
data_

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [9]:
data_[data_.rating == 5]['movieId'].value_counts().head(10)

318     170
296     138
260     122
527     109
858     107
356     102
608     100
593     100
2571     95
1196     94
Name: movieId, dtype: int64

In [10]:
data_2 = pd.read_csv('movies.csv')

In [12]:
data_2[data_2.movieId == 318]

     movieId                             title       genres
284      318  Shawshank Redemption, The (1994)  Crime|Drama

In [ ]:

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [13]:
data_ = pd.read_csv('power.csv')

In [14]:
data_.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [26]:
category = [4, 12, 21]
countries = ['Latvia', 'Lithuania', 'Estonia']

In [27]:
data_[ (data_.country.isin(countries)) &
      (data_.category.isin(category)) &
      (data_.year >= 2005) &
      (data_.year <= 2010) &
     (data_.quantity>0)]['quantity'].sum()

240580.0

In [ ]:
Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [59]:
data_ = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni',attrs = {'class' : "quote_list"}, encoding='utf-8')[0]

In [60]:
data_

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1061240,-,1059541,"0,16 %",01699,10.04.2021
1,NaN,EUR/RUB,921465,-,921465,"0,00 %",00000,10.04.2021
2,NaN,USD/RUB,774260,-,774245,"0,00 %",00015,10.04.2021
3,NaN,JPY/RUB,07060,-,07049,"0,16 %",00011,10.04.2021
4,NaN,CNY/RUB,118155,-,117969,"0,16 %",00186,10.04.2021
5,NaN,CHF/RUB,837541,-,836181,"0,16 %",01360,10.04.2021
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11901,-,11894,"0,06 %",00007,10.04.2021
8,NaN,EUR/GBP,08674,-,08674,"0,00 %",00000,10.04.2021
9,NaN,EUR/JPY,1305150,-,1305100,"0,00 %",00050,10.04.2021
10,NaN,EUR/CHF,11002,-,10995,"0,06 %",00007,10.04.2021
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08403,-,08403,"0,00 %",00000,10.04.2021
13,NaN,USD/GBP,07296,-,07296,"0,00 %",00000,10.04.2021
14,NaN,USD/JPY,1096650,-,1096650,"0,00 %",00000,10.04.2021
15,NaN,USD/CHF,09245,-,09244,"0,00 %",00001,10.04.2021
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),07700,-,07700,"0,00 %",00000,10.04.2021
18,NaN,JPY/GBP,00067,-,00067,"0,00 %",00000,10.04.2021
19,NaN,JPY/USD,00091,-,00091,"0,00 %",00000,10.04.2021
20,NaN,JPY/CHF (100:1),08400,-,08400,"-0,07 %",00000,10.04.2021
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,13707,-,13706,"0,00 %",00001,10.04.2021
23,NaN,GBP/JPY,1503123,-,1503069,"0,00 %",00055,10.04.2021
24,NaN,GBP/EUR,11519,-,11517,"0,02 %",00002,10.04.2021
25,NaN,GBP/CHF,12662,-,12680,"-0,14 %",-00018,10.04.2021
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,12662,-,12680,"-0,14 %",-00018,10.04.2021
28,NaN,EUR/CHF,11002,-,10995,"0,06 %",00007,10.04.2021
29,NaN,JPY/CHF (100:1),08400,-,08400,"-0,07 %",00000,10.04.2021
30,NaN,USD/CHF,09245,-,09244,"0,00 %",00001,10.04.2021
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,331364,-,332530,"-0,35 %",-01166,10.04.2021
33,NaN,USD/UAH,278434,-,279425,"-0,35 %",-00992,10.04.2021
34,NaN,CHF/UAH,301191,-,302245,"-0,35 %",-01054,10.04.2021
35,NaN,GBP/UAH,381636,-,382980,"-0,35 %",-01344,10.04.2021